---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction

All questions are weighted the same in this assignment.

## Part 1

The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [33]:
import numpy
import pandas as pd
import pandas

In [2]:
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)
data = df

In [3]:
data.describe()

         № Summer         01 !         02 !         03 !         Total  \
count  147.000000   147.000000   147.000000   147.000000    147.000000
mean    13.476190    65.428571    64.965986    69.795918    200.190476
std      7.072359   405.549990   399.309960   427.187344   1231.306297
min      1.000000     0.000000     0.000000     0.000000      0.000000
25%      8.000000     0.000000     1.000000     1.000000      2.000000
50%     13.000000     3.000000     4.000000     6.000000     12.000000
75%     18.500000    24.000000    28.000000    29.000000     86.000000
max     27.000000  4809.000000  4775.000000  5130.000000  14714.000000

         № Winter      01 !.1      02 !.1      03 !.1      Total.1  \
count  147.000000  147.000000  147.000000  147.000000   147.000000
mean     6.700680   13.047619   13.034014   12.897959    38.979592
std      7.433186   80.799204   80.634421   79.588388   240.917324
min      0.000000    0.000000    0.000000    0.000000     0.000000
25%      0.000000    0.000000    0.000000    0.000000     0.000000
50%      5.000000    0.000000    0.000000    0.000000     0.000000
75%     10.000000    1.000000    2.000000    1.000000     5.000000
max     22.000000  959.000000  958.000000  948.000000  2865.000000

          № Games       01 !.2       02 !.2       03 !.2  Combined total
count  147.000000   147.000000   147.000000   147.000000      147.000000
mean    20.176871    78.476190    78.000000    82.693878      239.170068
std     13.257048   485.013378   478.860334   505.855110     1469.067883
min      1.000000     0.000000     0.000000     0.000000        1.000000
25%     11.000000     0.000000     1.000000     1.000000        2.500000
50%     15.000000     3.000000     4.000000     7.000000       12.000000
75%     27.000000    25.500000    29.000000    32.500000       89.000000
max     49.000000  5768.000000  5733.000000  6078.000000    17579.000000

In [4]:
data.head()

                         № Summer  01 !  02 !  03 !  Total  № Winter  01 !.1  \
Afghanistan (AFG)              13     0     0     2      2         0       0
Algeria (ALG)                  12     5     2     8     15         3       0
Argentina (ARG)                23    18    24    28     70        18       0
Armenia (ARM)                   5     1     2     9     12         6       0
Australasia (ANZ) [ANZ]         2     3     4     5     12         0       0

                         02 !.1  03 !.1  Total.1  № Games  01 !.2  02 !.2  \
Afghanistan (AFG)             0       0        0       13       0       0
Algeria (ALG)                 0       0        0       15       5       2
Argentina (ARG)               0       0        0       41      18      24
Armenia (ARM)                 0       0        0       11       1       2
Australasia (ANZ) [ANZ]       0       0        0        2       3       4

                         03 !.2  Combined total
Afghanistan (AFG)             2               2
Algeria (ALG)                 8              15
Argentina (ARG)              28              70
Armenia (ARM)                 9              12
Australasia (ANZ) [ANZ]       5              12

First the unicode is removed from the column names and the numbered column names are changed to their meaning.

In [5]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)
data.head()

                         # Summer  Gold  Silver  Bronze  Total  # Winter  \
Afghanistan (AFG)              13     0       0       2      2         0
Algeria (ALG)                  12     5       2       8     15         3
Argentina (ARG)                23    18      24      28     70        18
Armenia (ARM)                   5     1       2       9     12         6
Australasia (ANZ) [ANZ]         2     3       4       5     12         0

                         Gold.1  Silver.1  Bronze.1  Total.1  # Games  Gold.2  \
Afghanistan (AFG)             0         0         0        0       13       0
Algeria (ALG)                 0         0         0        0       15       5
Argentina (ARG)               0         0         0        0       41      18
Armenia (ARM)                 0         0         0        0       11       1
Australasia (ANZ) [ANZ]       0         0         0        0        2       3

                         Silver.2  Bronze.2  Combined total
Afghanistan (AFG)               0         2               2
Algeria (ALG)                   2         8              15
Argentina (ARG)                24        28              70
Armenia (ARM)                   2         9              12
Australasia (ANZ) [ANZ]         4         5              12

In [6]:
names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

             # Summer  Gold  Silver  Bronze  Total  # Winter  Gold.1  \
Afghanistan        13     0       0       2      2         0       0
Algeria            12     5       2       8     15         3       0
Argentina          23    18      24      28     70        18       0
Armenia             5     1       2       9     12         6       0
Australasia         2     3       4       5     12         0       0

             Silver.1  Bronze.1  Total.1  # Games  Gold.2  Silver.2  Bronze.2  \
Afghanistan         0         0        0       13       0         0         2
Algeria             0         0        0       15       5         2         8
Argentina           0         0        0       41      18        24        28
Armenia             0         0        0       11       1         2         9
Australasia         0         0        0        2       3         4         5

             Combined total   ID
Afghanistan               2  AFG
Algeria                  15  ALG
Argentina                70  ARG
Armenia                  12  ARM
Australasia              12  ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [17]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

In [35]:
data = df
summer_gold = "Gold"
winter_gold = "Gold.1"
total_gold = "Gold.2"
total_silver = "Silver.2"
total_bronze = "Bronze.2"

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [26]:
def answer_one():
    return data[summer_gold].argmax()
answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [27]:
def answer_two():
    return (data[summer_gold] - data[winter_gold]).abs().argmax()    
answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [31]:
def answer_three():
    elegible = data[(data[summer_gold]>=1) & (data[winter_gold]>=1)]
    ratios = (elegible[summer_gold] - elegible[winter_gold]).abs()/elegible[total_gold]
    return ratios.argmax()

answer_three()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [36]:
def answer_four():
    """
    Creates weighted points based on medals
       * Gold: 3 points
       * Silver: 2 points
       * Bronze: 1 point

    Returns
    -------

    Series: column of points for each NOC
    """
    points = numpy.zeros(len(data))
    points += data[total_gold] * 3
    points += data[total_silver] * 2
    points += data[total_bronze]
    return pandas.Series(points, index=data.index)

points = answer_four()
assert points.loc["United States"] == 5684

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You will need this for future questions too...)

*This function should return a single string value.*

In [41]:
census_df = pd.read_csv('census.csv')
census_df.head()
census_data = census_df

In [43]:
class CensusVariables:
         state_name = "STNAME"
         county_name = "CTYNAME"
         census_population = "CENSUS2010POP"
         region = "REGION"
         population_2014 = "POPESTIMATE2014"
         population_2015 = "POPESTIMATE2015"
         population_estimates = ["POPESTIMATE2010",
                                 "POPESTIMATE2011",
                                 "POPESTIMATE2012",
                                 "POPESTIMATE2013",
                                 population_2014,
                                 population_2015]
         county_level = 50
         summary_level = "SUMLEV"

In [44]:
counties = census_data[census_data[
    CensusVariables.summary_level]==CensusVariables.county_level]
# this throws off the numeric index for the argmax method so reset it
counties = counties.reset_index()

# but the last question wants the original index
counties_original_index = census_data[census_data[
    CensusVariables.summary_level]==CensusVariables.county_level]

In [45]:
def answer_five():
    """finds state with the most counties

    Returns
    -------

    str: name of state with the most counties
    """
    return counties.groupby(
        CensusVariables.state_name).count().COUNTY.argmax()

answer_five()

'Texas'

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [46]:
def answer_six():
    """finds three most populous states based on top three counties in each

    Returns
    -------

    List: top three state-names (highest to lowest)
    """
    top_threes = counties.groupby(
        CensusVariables.state_name
    )[CensusVariables.census_population].nlargest(3)
    states = top_threes.groupby(level=0).sum()
    return list(states.nlargest(3).index)

answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [47]:
def answer_seven():
    """Find county with largest absolute population variance

    Returns
    -------

    str: name of the county
    """
    return counties.iloc[
        (counties[
            CensusVariables.population_estimates].max(axis=1) -
         counties[
             CensusVariables.population_estimates].min(axis=1)
        ).argmax()][CensusVariables.county_name]

answer_seven()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [48]:
def answer_eight():
    """find region 1 or 2 counties:

      ,* with names that start with Washington
      ,* whose population grew from 2014 to 2015

    .. note:: the index in the final data-frame has to match the original
    census data

    Returns
    -------

    DataFrame: with the county and state-name columns
    """
    regions = counties_original_index[
        (counties_original_index[CensusVariables.region]==1) |
        (counties_original_index[CensusVariables.region]==2)]
    washingtons = regions[
        regions[CensusVariables.county_name].str.startswith("Washington")]
    grew = washingtons[washingtons[CensusVariables.population_2015] >
                       washingtons[CensusVariables.population_2014]]
    return grew[[CensusVariables.state_name,
                 CensusVariables.county_name]]

outcome = answer_eight()
assert outcome.shape == (5,2)
print(outcome)

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County